li,
p,
img {
  font-size: 20px;
  margin-bottom: 36px;
  line-height: 32px;
}

h1,
h2,
h3 {
  @apply text-slate-600 font-semibold;
}

h1 {
  @apply text-3xl mb-8 mt-9;
}

h2 {
  @apply text-2xl mb-4 mt-8;
}

h3 {
  @apply text-xl mb-3 mt-7;
}

p,
li,
a,
span,
pre {
  @apply text-slate-700 font-normal;
}

b,
strong {
  font-weight: 600;
}

a {
  cursor: pointer;
  color: rgb(74, 115, 225);
  text-decoration: underline;
}

ul,
ol {
  list-style-type: revert;
  list-style-position: outside;
  padding-left: 30px;
  margin-bottom: 15px;
}

ul li,
ol li {
  margin-bottom: 0px;
}

li p {
  margin-bottom: 10px;
}

#content-heading h1 {
  @apply text-slate-700 text-4xl;
}

#content-body {
  @apply mt-20 mb-20 whitespace-break-spaces;
}

.text-nowrap {
  text-wrap: nowrap;
}

#heading {
  margin-bottom: 70px;
}

pre:has(code) {
  padding: 2px;
}

pre code {
  @apply rounded text-sm;
}

p code,
h5 code {
  @apply bg-slate-200 rounded-md p-0.5 px-1 text-slate-700;
}

@supports (height: 1lh) {
  p:empty {
    height: 1lh;
  }
}

@supports not (height: 1lh) {
  p:empty::after {
    content: "\00A0";
  }
}

hr {
  height: 20px;
  @apply bg-slate-50 select-none;
  margin: 50px 0;
}

hr,
hr:before,
hr:after {
  display: flex;
  border-radius: 50%;
  left: 50%;
  width: 8px;
  height: 8px;
  background-color: #88888846;
}

hr:before,
hr:after {
  position: absolute;
  content: "";
}

hr:before {
  transform: translateX(-30px);
}

hr {
  margin-left: 50%;
}

hr:after {
  transform: translateX(30px);
}

/* 
p:empty,
p.is-empty,
p:has(br.ProseMirror-trailingBreak) {
  margin-bottom: 0px;
} */

.content-container {
  @apply w-full px-7 md:max-w-2xl lg:max-w-4xl md:mx-auto pt-20;
}
